h1{
    color: white;
}
.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 5px dashed rgb(255, 0, 0);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-align: center;
}
body{
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
}
.box:hover{
    background-color:rgb(118, 11, 82);
    box-shadow:30px 30px 26px #1e1e1e;
    border-radius: 40px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box ;
}